<section class="block block--services">
  <div class="media">
    <div class="media__image">
      <img src="assets/images/network.png" alt="Network Icon" class="icon" />
    </div>
    <div class="media__body">
      <h3 class="media__title">network &amp; security engineering</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet
        cum. Fugit iusto ea asperiores!
      </p>
      <a href="#" class="btn btn--accent">learn more</a>
    </div>
  </div>
</section>
