<!-- Section Support -->
<section class="block block--about container grid grid--cols-2 grid--gap">
  <header class="block__header">
    <h2 class="block__heading">24/7 real support</h2>
    <p class="block__description">
      Feature creep going forward you better eat a reality sandwich before you
      walk back in that boardroom can you send me an invite
    </p>
    <a href="#" class="btn btn--primary">contact support</a>
  </header>
  <picture>
    <source type="image/webp" srcset="assets/images/support.webp" />
    <source type="image/png" srcset="assets/images/support.png" />
    <img src="assets/images/support.png" alt="Support Image" />
  </picture>
</section>
