<!-- Section Choose -->
<section class="block block--choose container grid grid--cols-2 grid--gap">
  <header class="block__header choose">
    <span class="block--choose__text">why choose us</span>
    <h2 class="block__heading">make life with bright JH</h2>
    <p class="block__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos
      eligendi ipsa corporis libero, explicabo at quaerat laborum labore id cum
      tempore deleniti soluta recusandae molestias ullam nam repellendus commodi
      possimus eum ipsum? Adipisci, pariatur.
    </p>
    <a href="#" class="btn btn--secondary">sign up free</a>
    <a href="#" class="btn btn--primary">watch video</a>
  </header>
  <article class="block__header block--choose__counter">
    <div class="counter">
      <div class="counter__numbers">
        <h3 class="counter__numbers__count">20</h3>
        <p class="counter__numbers__name">employees</p>
      </div>
      <div class="counter__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since it to make a type specimen book.
      </div>
    </div>
    <div class="counter">
      <div class="counter__numbers">
        <h3 class="counter__numbers__count">20</h3>
        <p class="counter__numbers__name">employees</p>
      </div>
      <div class="counter__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since it to make a type specimen book.
      </div>
    </div>
    <div class="counter">
      <div class="counter__numbers">
        <h3 class="counter__numbers__count">20</h3>
        <p class="counter__numbers__name">employees</p>
      </div>
      <div class="counter__description">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since it to make a type specimen book.
      </div>
    </div>
  </article>
</section>
