<!-- Section About -->
<section class="block block--about container grid grid--cols-2 grid--gap">
  <picture>
    <source type="image/webp" srcset="assets/images/about.webp" />
    <source type="image/png" srcset="assets/images/about.png" />
    <img src="assets/images/about.png" alt="About Image" />
  </picture>
  <header class="block__header">
    <h2 class="block__heading">what we do?</h2>
    <p class="block__description">
      Small businesses and individuals in Teton County, Wyoming wanting the best
      of breed technology and information security services. I work with each
      customer to determine their needs and integrate multiple platforms to
      create a custom solution.
    </p>
    <a href="#" class="btn btn--primary">learn more</a>
  </header>
</section>
