<!-- Footer Section -->
<footer class="block block--footer footer">
  <div class="container grid footer__sections">
    <div class="footer__brand">
      <img src="assets/images/footer_logo.png" alt="Footer Brand" />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </div>
    <section class="footer__section">
      <span class="footer__heading">important links</span>
      <ul class="list">
        <li><a href="#">home</a></li>
        <li><a href="#">about us</a></li>
        <li><a href="#">services</a></li>
      </ul>
    </section>
    <section class="footer__section">
      <span class="footer__heading">twitter feed</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id
        architecto repellat ab blanditiis eveniet.
      </p>
    </section>
    <section class="footer__section">
      <span class="footer__heading">our offices</span>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <img src="assets/images/map.png" alt="map" class="map" />
    </section>
  </div>
</footer>
<div class="footer__bottom">
  <p class="footer__text">2021 &copy copyright bright BH</p>
</div>
