<!-- Section Services -->
<section class="block block--services container">
  <header class="block__header">
    <h2 class="block__heading">our services</h2>
    <p class="block__description">
      Fieldmagic is the most comprehensive field service & asset management
      platform on the market, combining ease of use, performance and flexibility
      with out of the box integration with all major accounting and ERP
      platforms.
    </p>
  </header>
  <div class="grid grid--cols-3 grid--gap">
    <div class="media">
      <div class="media__image">
        <img src="assets/images/network.png" alt="Network Icon" class="icon" />
      </div>
      <div class="media__body">
        <h3 class="media__title">network &amp; security engineering</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet
          cum. Fugit iusto ea asperiores!
        </p>
        <a href="#" class="btn btn--accent">learn more</a>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <img src="assets/images/server.png" alt="Network Icon" class="icon" />
      </div>
      <div class="media__body">
        <h3 class="media__title">server &amp; storage management</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet
          cum. Fugit iusto ea asperiores!
        </p>
        <a href="#" class="btn btn--accent">learn more</a>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <img src="assets/images/hw_sw.png" alt="Network Icon" class="icon" />
      </div>
      <div class="media__body">
        <h3 class="media__title">hardware &amp; software installation</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet
          cum. Fugit iusto ea asperiores!
        </p>
        <a href="#" class="btn btn--accent">learn more</a>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <img src="assets/images/network.png" alt="Network Icon" class="icon" />
      </div>
      <div class="media__body">
        <h3 class="media__title">network &amp; security engineering</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet
          cum. Fugit iusto ea asperiores!
        </p>
        <a href="#" class="btn btn--accent">learn more</a>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <img src="assets/images/cloud.png" alt="Network Icon" class="icon" />
      </div>
      <div class="media__body">
        <h3 class="media__title">cloud storage solutions</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet
          cum. Fugit iusto ea asperiores!
        </p>
        <a href="#" class="btn btn--accent">learn more</a>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <img
          src="assets/images/hosted_icon.png"
          alt="Network Icon"
          class="icon"
        />
      </div>
      <div class="media__body">
        <h3 class="media__title">hosted email &amp; collaboration suites</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, eveniet
          cum. Fugit iusto ea asperiores!
        </p>
        <a href="#" class="btn btn--accent">learn more</a>
      </div>
    </div>
  </div>
</section>
