@import "../css/normalize.css";
:root {
  --primary-color: #4b4b4d;
  --secondary-color: #16c2a3;
  --accent-color: #f0c66d;
  --section-bg: #fafafa;
  --footer-bg: #b4ebe1;
  --white-color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--primary-color);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Grids */
.grid {
  display: grid;
}

.grid--gap {
  gap: 6rem;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Buttons */
.btn {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 1.5rem 4.5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary,
.btn--accent {
  background: var(--primary-color);
  color: var(--white-color);
}

.btn--primary:hover {
  background: #434345;
}

.btn--secondary {
  background: var(--secondary-color);
  color: var(--white-color);
}

.btn--secondary:hover {
  background: #13d1af;
}

.btn--accent:hover {
  background: rgb(22, 194, 163);
  background: linear-gradient(
    90deg,
    rgba(22, 194, 163, 1) 0%,
    rgba(240, 198, 107, 1) 75%
  );
}

/* List */
.list {
  list-style-type: none;
  padding-left: 0;
}

.list--nav {
  margin: 0;
  text-align: center;
  width: 100%;
}

.list--nav__item {
  text-transform: uppercase;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--white-color);
}

.list--nav__item:last-of-type {
  border: none;
}

.list--nav__item > a {
  color: var(--primary-color);
  transition: opacity 0.3s;
}

.list--nav__item > a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .list--nav__item {
    border-bottom: none;
    padding: 0 2rem;
  }
}

/* Icon */
.icon {
  width: 130px;
}

/* Block */
.block {
  padding: 6rem 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  text-transform: capitalize;
}

.block__description {
  margin-bottom: 0;
}

.block--about .block__header {
  align-self: center;
}

.block--about .btn,
.block--hero .btn {
  margin-top: 3rem;
}

.block--hero {
  background: url("../images/hero_w320.png") no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 0;
}

.block--header {
  padding: 0 2rem;
}

.block--footer {
  padding-bottom: 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .block__header {
    text-align: left;
  }

  .block--hero {
    background: url("../images/hero_w823.png") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .block--hero {
    background: url("../images/hero_w1174.png") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .block--hero {
    background: url("../images/hero_w1440.png") no-repeat;
    background-size: cover;
  }
}

/* Media */
.media {
  border-style: solid;
  border-width: 2px;
  border-image: linear-gradient(90deg, rgb(22, 194, 163), rgb(240, 198, 107)) 1;
}

.block .media {
  text-align: center;
}

.media__image {
  margin-bottom: 2rem;
}

.media__body .btn {
  position: relative;
  top: 3rem;
}

.media__title {
  text-transform: capitalize;
}

/* Counter */
@media screen and (min-width: 768px) {
  .counter {
    display: flex;
    align-items: center;
  }

  .counter__numbers {
    border-right: 4px solid var(--secondary-color);
  }

  .counter__numbers,
  .counter__description {
    padding: 0 2rem;
  }
}

.counter__numbers__count {
  color: var(--secondary-color);
}

.counter__numbers__name {
  text-transform: capitalize;
}

/* Navbar */
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.nav img {
  max-width: 153px;
}

.nav .nav__icon {
  width: 32px;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.nav__toggler {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .list--nav {
    display: flex;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }
}

/* Section Hero */
.block--hero .block__heading {
  color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .block--hero .block__header {
    max-width: 500px;
    margin-left: 150px;
  }
}

/* Section Services */
.block--services .media {
  max-width: 400px;
  padding: 4rem 2rem 0;
}

.block--services .block__header {
  margin-bottom: 3rem;
  text-align: center;
}

/* Section Why Choose Us */
.block--choose .block--choose__text {
  text-transform: uppercase;
}

.block--choose .block__description {
  margin-bottom: 5rem;
}

.block--choose .btn--secondary {
  margin-bottom: 2rem;
}

.block--choose .choose {
  align-self: center;
}

.block--choose__counter .counter {
  margin-bottom: 4rem;
}

.block--choose__counter .counter:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .block--choose .btn--secondary {
    margin-bottom: 0;
  }
}

/* Footer */
.footer__brand img {
  max-width: 167px;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

.footer__section:last-of-type {
  border-bottom: 0;
}

.footer__heading {
  font-weight: bold;
  text-transform: capitalize;
}

.footer a {
  color: var(--primary-color);
  text-transform: capitalize;
}

.map {
  max-width: 271px;
}

.footer__section ul {
  margin: 0;
}

.footer__bottom {
  background: var(--footer-bg);
  padding: 2rem 0;
  text-align: center;
}

.footer__text {
  margin-bottom: 0;
  text-transform: capitalize;
}

.footer__section .footer__heading {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer__section {
    border-bottom: 0;
  }
}
